@use 'sass:map';

$tablet: 650px;
$tabletLate: 768px;
$desktop: 1200px;
$desktop-xxl: 1920px;

$breakpoints: (
  tablet: $tablet,
  maxMobile: $tablet - 1px,
  tabletLate: $tabletLate,
  maxMobileLate: $tabletLate - 1px,
  desktop: $desktop,
  maxTablet: $desktop - 1px,
  maxRems: 1440px,
  desktop-xxl: $desktop-xxl,
);

@mixin media-hover-device {
  @media (hover: hover), (min-width: map.get($breakpoints, desktop)) {
    @content;
  }
}

@mixin min-width($key) {
  $value: map.get($breakpoints, $key);
  @media (min-width: $value) {
    @content;
  }
}

@mixin max-width($key) {
  @if map.has-key($breakpoints, $key) {
    $value: map.get($breakpoints, $key);
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Брейкпоинт #{$key} не найден в $breakpoints.";
  }
}
