@use './mixins' as *;
@use './breakpoints' as *;

html {
  font-size: 12px;

  //@media (min-width: 400px) {
  //  font-size: 13.2px;
  //}
  //
  //@include min-width(tablet) {
  //  font-size: 12px;
  //}
  //
  //@include min-width(desktop) {
  //  font-size: 1vw;
  //}
  //
  //@include min-width(maxRems) {
  //  font-size: 12px;
  //}
}

body {
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  color: var(--main-black);
  position: relative;
}
