.header {
  @include row;
  justify-content: space-between;

  height: toRem(172);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(44px);
  padding: 0 toRem(64);

  &__logo {
    width: toRem(187);
    height: toRem(65);
  }

  &__links {
    @include row(50);
  }

  @include media-maxTablet {
    border-radius: 0 0 toRem(24) toRem(24);
  }
}
