.header {
  @include row;
  justify-content: space-between;

  height: toRem(108);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(44px);
  padding: 0 toRem(64);
  transition: var(--transition-all);

  &__logo {
    width: toRem(85);
    height: auto;
  }

  &__links {
    @include row(50);
  }

  &__link {
    width: auto;
  }

  @include max-width(maxTablet) {
    border-radius: 0 0 toRem(24) toRem(24);
  }

  @include min-width(tablet) {
    height: toRem(172);

    &__logo {
      width: toRem(187);
      height: toRem(65);
    }
  }
}
