.input {
  $b: &;

  border: 1px solid var(--main-gray);
  transition: var(--transition-all);

  &__value {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;

    &::placeholder {
      color: var(--main-gray);
    }
  }

  &--size {
    &--m {
      @include row(8);
      height: toRem(48);
      padding: 0 toRem(18);
      border-radius: toRem(8);

      #{$b}__icon {
        font-size: toRem(24);
      }

      #{$b}__value {
        font: var(--b2);
      }
    }

    &--l {
      @include row(10);
      height: toRem(80);
      padding: 0 toRem(24);
      border-radius: toRem(16);

      #{$b}__icon {
        font-size: toRem(28);
      }

      #{$b}__value {
        font: var(--b1);
      }
    }
  }

  &.is-error {
    border-color: var(--main-critical);
  }

  &:hover {
    box-shadow: var(--shadow-base);
  }
}
