.header-mobile-menu {
  @include column(8);

  position: relative;
  box-shadow: var(--shadow-base);
  background-color: var(--main-white);
  border-radius: 0 0 toRem(16) toRem(16);
  padding: toRem(24) toRem(18);
  overflow: hidden;

  &__links {
    display: contents;
    position: relative;
    z-index: 5;
  }

  &__decor {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
  }
}
