.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: toRem(32);

  &__image {
    border-radius: var(--border-radius-base);
  }

  &__title {
    font-size: toRem(32);
  }
}
