.contact-us {
  @include column(24);

  &__decor {
    position: absolute;
    top: 0;
    right: 0;
    width: toRem(150);
    height: auto;
    z-index: -1;
  }

  &__header {
    @include column(16);
  }

  &__footer {
    text-align: center;
    font: var(--b2);
    color: var(--main-gray);
  }

  &__description {
    font: var(--sh1);
  }

  @include min-width(tablet) {
    &__decor {
      width: toRem(200);
      height: auto;
    }
  }

  @include min-width(tabletLate) {
    @include column(48);
  }
}
