@font-face {
    font-family: "icons";
    src: url("/fonts/icons/icons.woff?cd17fedb39a89ea2b321c38d7a90e351") format("woff"),
url("/fonts/icons/icons.woff2?cd17fedb39a89ea2b321c38d7a90e351") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
    content: "\f101";
}
.icon-chevron-up:before {
    content: "\f102";
}
.icon-comment:before {
    content: "\f103";
}
.icon-cross:before {
    content: "\f104";
}
.icon-mention:before {
    content: "\f105";
}
.icon-person:before {
    content: "\f106";
}
.icon-phone:before {
    content: "\f107";
}
.icon-trash:before {
    content: "\f108";
}
